body {
    margin: 0;
    font-family: Helvetica, Sans-Serif;
    background-color: #f57e25;
    overflow: hidden;
}

#title {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    background-color: #faa835;
    color: #fff;
    margin-bottom: 20px;
}

.teamBox {
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.teamBox:hover {
    background-color: #e0e0e0;
}
#container {
    display: flex;
    height: 80vh;
}

#teamInfo {
    width: 30%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 4px solid #0066b3;
    overflow-y: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 6%;
}
#mapside{
    width:66%;
}

#map {
    height: 88%; /* Adjusted map height */
    width: 100%;
    border: 4px solid #0066b3;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center buttons vertically */
    gap: 10px;
  }

#resetButton {
    font-size: 110%;
    padding: 10px 24px; /* Set consistent padding */
    margin-left: 1%;
    border: none;
    border-radius: 10px;
    background-color: #0066b3;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    left:40%; 
}

#resetButton:hover {
    background-color: #2980b9;
}

.custom-div-icon {
    position: relative;
    background: transparent;
    border: none;
    width: 30px;
    height: 42px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.marker-pin {
    background: #3498db;
    border: 1px solid #2980b9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 20px;
    font-size: 20px;
}
#email {
    font-size: 110%;
    height: auto;
    width: 100%; /* Fill the remaining width of the container */
    max-width: none; /* Remove the maximum width limit */
    margin: 10px auto 0; /* Center the button horizontally with a top margin */
    border: none;
    border-radius: 10px;
    background-color: #0066b3;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }

#email:hover {
    background-color: #2980b9;
}

.map-button {
    font-size: 110%;
    height: 40px; /* Set a consistent height */
    margin-top: 10px; /* Adjust top margin as needed */
    border: none;
    border-radius: 10px;
    background-color: #0066b3;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 24px; /* Set consistent padding */
  }

  

 /*
div{
    border: 1px solid yellow;
  }
  */